{{!-- <li>hello {{type}}</li> --}}
<label for="qwe" class="form__label">
    {{type}} -
</label>
<input data-action='{{type}}' type="text" name="{{type}}" id="qwe" class="form__input js-input" placeholder="{{value}}">


{{!-- {{#each type}}
<li>{{this}}</li>
{{/each}} --}}